<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">-->
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>

        <Logger name="org.mybatis" level="DEBUG">
            <AppenderRef ref="applogfile"/>
            <AppenderRef ref="stdout"/>
        </Logger>

        <Logger name="java.sql" level="DEBUG">
            <AppenderRef ref="applogfile"/>
            <AppenderRef ref="stdout"/>
        </Logger>

        <File name="ErrorFile" fileName="C:\Projects\IdeaProjects\TomApp\src\main\webapp\WEB-INF\resources\errors.log"
              immediateFlush="true"
              append="false">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="InfoFile" fileName="C:\Projects\IdeaProjects\TomApp\src\main\webapp\WEB-INF\resources\info.log"
              immediateFlush="true"
              append="false">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile" level="error"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
